name: API Tests

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - reopened
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'

jobs:
  api-test:
    name: API Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'
          cache: true
          cache-dependency-path: go.sum

      - name: Download dependencies
        run: go mod download

      - name: Install gotestsum
        run: go install gotest.tools/gotestsum@latest

      - name: Run API tests
        run: gotestsum --junitfile junit.xml -- -tags=api -v -race ./test/api/...

      - name: Upload test results to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./junit.xml
          flags: api
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          verbose: true

      - name: Upload test results to Trunk
        if: ${{ !cancelled() }}
        continue-on-error: true
        uses: trunk-io/analytics-uploader@v1
        with:
          junit-paths: junit.xml
          org-slug: geekmini
          token: ${{ secrets.TRUNK_TOKEN }}
